{% extends 'base.html.twig' %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="container login">
	<div class="row">

{% if error %}
    	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
		<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    
    		<h1>Вход в системата</h1>

			<div class="col-md-12 form-group">
    			<label for="username">{{ 'Потребителско име'|trans }}</label>
    			<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
			</div>
			
			<div class="col-md-12 form-group">
    			<label for="password">{{ 'Парола'|trans }}</label>
    			<input type="password" id="password" class="form-control" name="_password" required="required" />
			</div>		
			
			<div class="form-group">
    			<input type="checkbox" id="remember_me" class="remember-me" name="_remember_me" value="on" />
    			<label for="remember_me">{{ 'запомни ме'|trans }}</label>
			</div>
			
			
    		<input type="submit" id="_submit" class="submit-btn" name="_submit" value="{{ 'Влез'|trans }}" />
			<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
    			<img src="imgs/fb-login.png" class="fb-login" />
			</a>
		</form>

	</div>
</div>

{% endblock %}